{% set ticked = "Completed" %}
{% set crossed = "Unfinished" %}
{% set title = "To Be Read" %}
{% set page = "/tbr" %}

{% extends "books.html" %}

{% block checked %}
<form action="/tbr" method="post">
    <input hidden name="change" value="tick"/>
    <input hidden name="book" value={{book.id}}/>
    <button type = "submit" class="white border-0 check" height="20" width="20">
        ✅  
    </button>
</form>
{% endblock %}

{% block crossed %}
<form action="/tbr" method="post">
    <input hidden name="change" value="cross"/>
    <input hidden name="book" value={{book.id}}/>
    <button type = "submit" class="white border-0 check" height="20" width="20">
        ❎
    </button>
</form>
{% endblock %}